.bg-dark-2 {
  background-color: rgb(49, 53, 59);
}

.swal2-styled.swal2-confirm {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  ;
}

.container {
  overflow-y: auto;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-off {
  overflow-y: hidden;
}

.navbar a {
  text-decoration: none;
}

.appbar-action {
  width: 50px;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.form-control,
.btn,
button,
input {
  border-radius: 10px;
  padding: 0.9rem !important;
  border: 0 !important;
  box-shadow: 0 !important;
  outline: none !important;
}

.form-control,
input {
  border: 2px solid #ffffff !important;
}

.form-control:focus,
.btn:focus,
input:focus {
  box-shadow: none !important;
  border-color: #0d6efd !important;
}