@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500&display=swap');

body {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 400;
}

.bg-dark-2 {
  background-color: rgb(51, 55, 61);
}

.swal2-styled.swal2-confirm {
  background-color: #0d6efd !important;
  border-color: #0d6efd !important;
  ;
}

.container {
  overflow-y: auto;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-off {
  overflow: hidden;
}

.navbar a {
  text-decoration: none;
}

.appbar-action {
  width: 50px;
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.form-control,
.btn,
button,
input {
  border-radius: 5px;
  border: 0 !important;
  box-shadow: 0 !important;
  outline: none !important;
}

.form-control,
input {
  border: 2px solid #ffffff !important;
}

.form-control:focus,
.btn:focus,
input:focus {
  box-shadow: none !important;
  border-color: #0d6efd !important;
}

.btn,
button {
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 500;
}